.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16% 3% 20%;
  }

  form {
      margin-top: 30px;
  }
  
  @media (max-width: 992px) {
    .contact {
      padding: 0px;
      margin: 28px 33px;
    }
  }