.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0;
  padding: 20px;
}

.outer {
  border-left: 1px solid lightgray;
  max-width: 83.333333%;
}

/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 0 11px;
  color: gray;
  border-radius: 8px;
  /* max-width: 400px; */
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  /* gap: 10px; */
}

.title__row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Title of the card */
.title {
  font-size: 1.011em;
  font-weight: 500;
  display: flex;
  vertical-align: middle;
  color: black;
  position: relative;
  cursor: pointer;
}

.subtitle {
  font-size: 80%;
  margin-top: 3px;
}

.title:hover {
  text-decoration: underline;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 2px solid black;
}

.title__link {
  text-decoration: underline;
  cursor: pointer;
  color: black;
  margin-top: 5px;
  display: flex;
  font-size: 14px;
}

.title__icon {
  margin: 0 3px !important;
}

.text {
  font-size: 14px;
  color: #545454;
  line-height: 2;
  font-weight: 400;
  margin-top: 9.6px;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .title__row {
    flex-direction: column;
  }

  .outer {
    max-width: none;
  }
}
