.app {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #f8f7f7;
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16% 0 20%;
}

@media (max-width: 992px) {
  .body {
    padding: 0px;
    margin: 28px 33px;
  }
}
